# Variables, expressions, and statements

## Values and types

A **value** is one of the basic things a program works with, like a letter or a number. If you are not sure what type a value has, the interpreter can tell you.

In [1]:
type('Hello, World!')

str

In [2]:
type(17)

int

In [3]:
type(3.2)

float

## Variables

A **variable** is a name that refers to a value.

In [4]:
message = 'And now for something completely different'
n = 17
pi = 3.1415926535897931

In [5]:
print(n)

17

In [6]:
type(n)

int

## Variable names and keywords

Variable names can be arbitrarily long. They can contain both letters and numbers, but they cannot start with a number. It is a good idea to begin variable names with a lowercase letter.

In [7]:
76trombones = 'big parade'

SyntaxError: invalid decimal literal (3381618747.py, line 1)

## Statements

A **statement** is a unit of code that the Python interpreter can execute. We have seen two kinds of statements: print being an expression statement and assignment.

In [8]:
print(1)
x = 2
print(x)

1
2

## Operators and operands

**Operators** are special symbols that represent computations like addition and multiplication. The values the operator is applied to are called **operands**.

In [13]:
minute = 59
minute/60

0.9833333333333333

## Expressions

An **expression** is a combination of values, variables, and operators.

## Modulus operator

The modulus operator works on integers and yields the remainder when the first operand is divided by the second. In Python, the modulus operator is a percent sign (%).

In [17]:
quotient = 7 // 3
quotient

2

In [18]:
modulus = 7 % 3
modulus

1

In [23]:
x = 100.31
x % 10

0.3100000000000023

In [24]:
x = 8
y = 4

x%y

0

In [25]:
x = 9
y = 4

x%y

1

## String operations

In [26]:
first = 10
second = 15
print(first+second)

25

In [27]:
first = '100'
second = '150'
print(first + second)

100150

## Asking the user for input

In [28]:
name = input('What is your name?\n')

What is your name?
 Pietro

In [29]:
print(name)

Pietro

## Exercises

Exercise 1: Write a program that uses input to prompt a user for their name and then welcomes them.

In [30]:
name = input('What is your name?\n')
print("Welcome %s"%name)

What is your name?
 Pietro

Welcome Pietro

Exercise 2: Write a program to prompt the user for hours and rate per hour to compute gross pay.

In [33]:
hours = input('Enter hours: ')
rate = input('Enter rate: ')
print("Pay: %f"%(float(hours)*float(rate)))

Enter hours:  35
Enter rate:  2.75

Pay: 96.250000

Exercise 3: Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

In [35]:
celsius = input('Enter 째C: ')
print("째F: %f"%(float(celsius)*1.8+ 32.00))

Enter 째C:  180

째F: 356.000000